.fundal{
    background-color: rgba(240, 231, 231);
}

/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("/images/banners/bannerinvers.png");
    height: 300px;
}

.w3-bar .w3-button {
    padding: 16px;}